### Data Cleansing

<p>Data cleaning process for removing blank rows in the data set.</p>

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

dataFolder = './data/'

# Load CSV data from Netezza export
d1 = dataFolder+'Weather_dimension_CSV.csv'

In [2]:
mdDF = pd.read_csv(d1,sep=',',header=0,dtype=object)

In [3]:
#del mdDF['id']

In [4]:
mdDF.dtypes

Station Name         object
Year                 object
Month                object
Day                  object
Max Temp (°C)        object
Min Temp (°C)        object
Total Precip (mm)    object
dtype: object

In [5]:
mdDF.head()

  Station Name  Year Month Day Max Temp (°C) Min Temp (°C) Total Precip (mm)
0   BARRIE-ORO  2019     1   1           0.8         -12.4               0.9
1   BARRIE-ORO  2019     1   2          -4.8         -15.7               5.1
2   BARRIE-ORO  2019     1   3          -0.8          -6.9               0.3
3   BARRIE-ORO  2019     1   4           5.1            -6               0.2
4   BARRIE-ORO  2019     1   5           2.1          -2.8                 0

In [6]:
#mdDF.dropna(how="all", inplace=True) 
#mdDF.shape

In [7]:
#s = 1
#mdDF.insert(0, 'md_id', range(s, s + len(mdDF)))

In [8]:
# Mapping months

months = {
            1: "January",
            2: "February",
            3: "March",
            4: "April",
            5: 'May',
            6: 'June',
            7: 'July',
            8: 'August',
            9: 'September',
            10: 'October',
            11: 'November',
            12: 'December'
}

#mdDF['month_id'] = mdDF['Month']
mdDF['month_name'] = mdDF['Month'].astype(int).map(months)


#mdDF = mdDF[["Station Name", "Year", "Month_Name", "Day", "Max Temp", "Min Temp", "Total Precip (mm)", "Month"]]
#mdDF = mdDF.reindex(columns=column_names)

#mdDF.dtypes
mdDF.head()

,Station Name,Year,Month,Day,Max Temp (°C),Min Temp (°C),Total Precip (mm),month_name
0,BARRIE-ORO,2019,1,1,0.8,-12.4,0.9,January
1,BARRIE-ORO,2019,1,2,-4.8,-15.7,5.1,January
2,BARRIE-ORO,2019,1,3,-0.8,-6.9,0.3,January
3,BARRIE-ORO,2019,1,4,5.1,-6,0.2,January
4,BARRIE-ORO,2019,1,5,2.1,-2.8,0,January

In [9]:
mdDF['Month'] = mdDF['Month'] .astype(str)
mdDF['Month'] = mdDF['month_name']
del mdDF['month_name']
 
mdDF.head()

,Station Name,Year,Month,Day,Max Temp (°C),Min Temp (°C),Total Precip (mm)
0,BARRIE-ORO,2019,January,1,0.8,-12.4,0.9
1,BARRIE-ORO,2019,January,2,-4.8,-15.7,5.1
2,BARRIE-ORO,2019,January,3,-0.8,-6.9,0.3
3,BARRIE-ORO,2019,January,4,5.1,-6,0.2
4,BARRIE-ORO,2019,January,5,2.1,-2.8,0

In [10]:
# Save Data
mdDF.to_csv(dataFolder+'WEATHER_DIMENSION_clean.csv',encoding="utf-8",index=False)